block aboutme

  P I am a 3rd year Ph.D. student in the Computer Science Department of University of Virginia (UVA), working on the intersection of Computer Architecture and Bioinformatics under supervision of #[a(href='https://www.cs.virginia.edu/~skadron/') Prof. Kevin Skadron].
  P My research interests lie broadly in Computer Architecture, Bioinformatics, and Domain Specific Accelerators. My research explores novel hardware and software techniques to enhance performance, energy efficiency, and programmability of genome sequence mapping accelerators. I also have extensive experience in designing high performance, energy efficient embedded systems for core consumer products. You can find my CV #[a(href='files/Resume_Morteza_Baradaran_24.pdf') here].
  P Recent highlights include:
  ul
    li
      p #[strong Domain Specific Accelerator:] Designing an Accelerator for Metagenomics Unidentified Genome Partial Matching using Processing in Memory
    li
      p #[strong Processing in Memory:] Design and Implementation of a PIM-based Hashmap Accelerator