block aboutme

  P I am a 2nd year Ph.D. student in the Computer Science Department of University of Virginia (UVA), working on the intersection of Computer Architecture and Bioinformatics.
  P My research interests lie broadly in Computer Architecture, Bioinformatics, and Domain Specific Accelerators. My research explores novel hardware and software techniques to enhance performance, energy efficiency, and programmability of genome sequence mapping accelerators. I also have extensive experience in designing high performance, energy efficient embedded systems for core consumer products. You can find my CV #[a(href='files/Resume_Morteza_2023.pdf') here].
  //- P Recent highlights include:
  //- ul
  //-   li
  //-     p #[strong Hardware Security:] High performance and transparent capability based protection mechanism to secure unmodified source and object code against temporal and spatial memory safety exploits
  //-   li
  //-     p #[strong Processing in Memory:] DRAM-based in-situ k-mer matching accelerator design for simultaneous comparisons of millions of DNA base pairs
  //-   li
  //-     p #[strong Speculation-Driven Dynamic Binary Optimization:] Exploring dynamic binary optimization techniques at the processor level to speculatively generate and execute a super-optimized instruction stream