block aboutme

  P I am a 4th year Ph.D. student in the Computer Science Department of University of Virginia (UVA) under supervision of #[a(href='https://www.cs.virginia.edu/~skadron/') Prof. Kevin Skadron].
  P My interests lie broadly in Computer Architecture, Domain Specific Accelerators, and Bioinformatics. I’m interested in exploring novel hardware and software techniques to enhance the performance, energy efficiency, and programmability of domain specific accelerators. I also have extensive experience in designing high-performance, energy-efficient embedded systems for core consumer products. You can find my CV #[a(href='files/Resume_Morteza_Baradaran_24.pdf') here].

<p>Recent highlights include:</p>
<ul>
  <li>
    <p><strong>Computer Vision:</strong> Accelerating hybrid Transformer-CNN models for computer vision using Processing-in-Memory.</p>
  </li>
    <li>
    <p><strong>Processing in Mamory Framework:</strong> Designed and implemented a framework to simulate various processing-in-memory (PIM) architectures and benchmarks.
  </li>
  <li>
    <p><strong>Graph Analytics:</strong> Developed <em>TriPIM</em>, a scalable triangle counting large graphs efficiently using processing in memory.</p>
  </li>
  <li>
    <p><strong>Bioinformatics:</strong> Created <em>PARMIK</em>, a fast and memory-efficient tool for identifying partial matches in genomic sequences, surpassing BLAST in speed and accuracy.</p>
  </li>
  <li>
    <p><strong>Cache Optimization:</strong> Enhanced graph caching with <em>ECG</em>, optimizing prefetching and replacement policies for graph analytics.</p>
  </li>
</ul>
