block aboutme

  P I am a fourth year Ph.D. student in the Computer Science Department of University of Virginia (UVA), working on Computer Architecture and Compiler Design.
  P My research interests lie broadly in Computer Architecture, Compilers, and Computer Security. My research explores novel hardware and software techniques to design secure machines while maintaining performance, energy efficiency, and high programmability. I’m also interested in applying novel machine learning techniques to detect and mitigate security threats. I have extensive experience in designing high performance, energy efficient FPGA and embedded systems for core consumer products. You can find my CV #[a(href='files/RasoolSharifiCV.pdf') here].
  P Recent highlights include:
  ul
    li
      p #[strong Hardware Security:] High performance and transparent capability based protection mechanism to secure unmodified source and object code against temporal and spatial memory safety exploits
    li
      p #[strong Processing in Memory:] DRAM-based in-situ k-mer matching accelerator design for simultaneous comparisons of millions of DNA base pairs
    li
      p #[strong Speculation-Driven Dynamic Binary Optimization:] Exploring dynamic binary optimization techniques at the processor level to speculatively generate and execute a super-optimized instruction stream