block newsInfo
  // News info container
  -
    var news = [
      {
        title: 'I\'m actively looking for research internship in industry starting from Summer 2025.',
        date: 'Nov. 2024'
      },
      {
        title: 'We submitted our paper, "PARMIK: PArtial Read Matching with Inexpensive K-mers," to Genome Biology Journal, 2024.',
        date: 'Dec. 2024'
      },
      {
        title: 'Our paper, "Swift: A Multi-FPGA Framework for Scaling Up Accelerated Graph Analytics," has been accepted in the International Conference on Field Programmable Technology (FPT), 2024.',
        date: 'Oct. 2024'
      },
      {
        title: 'I presented a poster, "TriPIM: Efficient Triangle Counting on PIM Technologies — A Binary Search Approach," in TECHCON, 2024.',
        date: 'Sep. 2024'
      },
      {
        title: 'Our paper, "Architectural Modeling and Benchmarking for Digital DRAM PIM," has been accepted in the International Symposium on Workload Characterization (IISWC), 2024.',
        date: 'Sep. 2024'
      },
      {
        title: 'Our paper, "ECG: Expressing Locality and Prefetching for Optimal Caching in Graph Structures," has been accepted in the International Parallel and Distributed Processing Symposium Workshops (IPDPSW), 2024.',
        date: 'May. 2024'
      },
      {
        title: 'I presented a poster, "Enhancing pandemic preparedness—A novel partial matching approach for identifying similar genetic material from diverse sources for pathogen surveillance," in Genome Informatics, Dec 2023.',
        date: 'Dec. 2023'
      },
      {
        title: 'Our paper, "Energy Consumption Analysis of Instruction Cache Prefetching," has been accepted in the International Symposium on Computer Architecture and High Performance Computing Workshops (SBAC-PADW), 2023.',
        date: 'Oct. 2023'
      },
      {
        title: 'Our paper, "HashMem: PIM-based Hashmap Accelerator," has been accepted in the Fifth International Workshop on Domain-Specific System Architecture (DOSSA-5), in conjunction with the 50th IEEE International Symposium on Computer Architecture (ISCA-50), 2023.',
        date: 'June. 2023'
      },
      {
        title: 'I\'ll be presenting a poster in CRISP Annual Review, 2022.',
        date: 'Nov. 2022'
      },
    ];
