block newsInfo
  // News info container
  -
    var news = [
      {
        title: 'I\'m actively looking for research internship in industry starting from Summer 2021.',
        date: 'Jan. 2021'
      },
      {
        title: 'I\'ll be presenting our paper CHEx86 on June 2nd at ISCA 2020.',
        date: 'June. 2020'
      },
      {
        title:'Our paper, "CHEx86: Context-Sensitive Enforcement of Memory Safety via Microcode-Enabled Capabilities," has been accepted in International Symposium on Computer Architecture (ISCA). (May 29 – June 3, 2020)',
        date: 'Mar. 2020'
      },
    ];
