block newsInfo
  // News info container
  -
    var news = [
      {
        title: 'I\'m actively looking for research internship in industry starting from Summer 2023.',
        date: 'Jan. 2023'
      },
      //- {
      //-   title: 'Our paper, "CHEx86: Context-Sensitive Enforcement of Memory Safety via Microcode-Enabled Capabilities," has been selected a top pick in architecture and hardware security. (Dec, 2021)',
      //-   date: 'Dec. 2021'
      //- },
      //- {
      //-   title: 'Our paper, "Inf4Edge: Automatic Resource-aware Generation of Energy-efficient CNN Inference Accelerator for Edge Embedded FPGAs," has been accepted in IEEE Workshop on Energy-Efficient Machine Learning (E2ML), 2021.',
      //-   date: 'Sep. 2021'
      //- },
      //- {
      //-   title: 'Our paper, "Sieve: Scalable In-situ DRAM-based Accelerator Designs for Massively Parallel k-mer Matching" has been accepted in International Symposium on Computer Architecture (ISCA). (June 14 – June 19, 2021)',
      //-   date: 'Mar. 2021'
      //- },
      {
        title: 'I\'ll be presenting a poster in CRISP Annual Review, 2022.',
        date: 'Nov. 2022'
      },
      //- {
      //-   title:'Our paper, "CHEx86: Context-Sensitive Enforcement of Memory Safety via Microcode-Enabled Capabilities," has been accepted in International Symposium on Computer Architecture (ISCA). (May 29 – June 3, 2020)',
      //-   date: 'Mar. 2020'
      //- },
    ];
