block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'In Submission',
        info: 'M. Baradaran, A. Ansari, M. Sadrosadati, and H. Sarbazi-Azad, “Energy Consumption Analysis of Instruction Cache Prefetching.',
      },
      {
        venue: 'NLI',
        info: 'M. Baradaran and M. Zarei, “Theory of Automata and Machine Language,” in National Library of Iran, ISBN 978-600-6927-22-0, 2012-2013.',
      },
      //- {
      //-   venue: 'E2ML',
      //-   info: 'Ali Jahanshahi, Rasool Sharifi, Mohammadreza Rezvani, Hadi Zamani, \"Inf4Edge: Automatic Resource-aware Generation of Energy-efficient CNN Inference Accelerator for Edge Embedded FPGAs," in the IEEE Workshop on Energy-Efficient Machine Learning (E2ML), 2021',
      //-   link: '/' + baseURL + '/files/Inf4Edge.pdf'
      //- },
      //- {
      //-   venue: 'ETS',
      //-   info: 'Rasool Sharifi and Zain Navabi, \"Online Profiling for Cluster-Specific Variable Rate Refreshing in High-Density DRAM Systems," in IEEE European Test Symposium (ETS), May, 2017.',
      //-   link: '/' + baseURL + '/files/2017OnlineProfiling.pdf'
      //- },
    ];
