block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'ISCA',
        info: 'Lingxi Wu, Rasool Sharifi, Marzieh Lenjani, Kevin Sakdron, Ashish Venkat\"Sieve: Scalable In-situ DRAM-based Accelerator Designs for Massively Parallel k-mer Matching," in Proceedings of the 48th ACM/IEEE International Symposium on Computer Architecture (ISCA), June, 2021.',
        link: '/' + baseURL + '/files/2021Sieve.pdf'
      },
      {
        venue: 'ISCA',
        info: 'Rasool Sharifi and Ashish Venkat,\"CHEx86: Context-Sensitive Enforcement of Memory Safety via Microcode-Enabled Capabilities," in Proceedings of the 47th ACM/IEEE International Symposium on Computer Architecture (ISCA), June, 2020.',
        link: '/' + baseURL + '/files/2020CHEx86.pdf'
      },
      {
        venue: 'E2ML',
        info: 'Ali Jahanshahi, Rasool Sharifi, Mohammadreza Rezvani, Hadi Zamani, \"Inf4Edge: Automatic Resource-aware Generation of Energy-efficient CNN Inference Accelerator for Edge Embedded FPGAs," in the IEEE Workshop on Energy-Efficient Machine Learning (E2ML), 2021',
        link: '/' + baseURL + '/files/Inf4Edge.pdf'
      },
      {
        venue: 'ETS',
        info: 'Rasool Sharifi and Zain Navabi, \"Online Profiling for Cluster-Specific Variable Rate Refreshing in High-Density DRAM Systems," in IEEE European Test Symposium (ETS), May, 2017.',
        link: '/' + baseURL + '/files/2017OnlineProfiling.pdf'
      },
    ];
