block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'DOSSA-5',
        info: 'A. Shekar, M. Baradaran, S. Tajdari, and K. Skadron, \"HashMem: PIM-based Hashmap Accelerator," in Fifth International Workshop on Domain-Specific System Architecture (DOSSA-5), 2023',
        link: '/' + baseURL + '/files/HashMem.pdf'
      },
      {
        venue: 'In Submission',
        info: 'M. Baradaran, A. Ansari, M. Sadrosadati, and H. Sarbazi-Azad, “Energy Consumption Analysis of Instruction Cache Prefetching.',
      },
      {
        venue: 'NLI',
        info: 'M. Baradaran and M. Zarei, “Theory of Automata and Machine Language,” in National Library of Iran, ISBN 978-600-6927-22-0, 2012-2013.',
      },
    ];
