block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'BIORXIV',
        info: 'M. Baradaran, R. M. Layer, K. Skadron, “PARMIK: PArtial Read Matching with Inexpensive K-mers.',
        link: '/' + baseURL + '/files/parmik.pdf'
      },
      {
        venue: 'FPT24',
        info: 'O. Jaiyeoba, A. T. Mughrabi, M. Baradaran, B. Gul, K. Skadron, “Swift: A Multi-FPGA Framework for Scaling Up Accelerated Graph Analytics.”',
        link: '/' + baseURL + '/files/swift.pdf'
      },
      {
        venue: 'IISWC24',
        info: 'F. A. Siddique, D. Guo, Z. Fan, M. Gholamrezaei, M. Baradaran, A. Ahmed, H. Abbot, K. Durrer, K. Nandagopal, E. Ermovick, K. Kiyawat, B. Gul, A. Mughrabi, A. Venkat, K. Skadron, “Architectural Modeling and Benchmarking for Digital DRAM PIM.”',
        link: '/' + baseURL + '/files/pimeval.pdf'
      },
      {
        venue: 'IPDPS24',
        info: 'A. T. Mughrabi, M. Baradaran, A. Samara, K. Skadron, “ECG: Expressing Locality and Prefetching for Optimal Caching in Graph Structures.',
        link: '/' + baseURL + '/files/ecg.pdf'
      },
      {
        venue: 'WAMCA23',
        info: 'M. Baradaran, A. Ansari, M. Sadrosadati, and H. Sarbazi-Azad, “Energy Consumption Analysis of Instruction Cache Prefetching.',
        link: '/' + baseURL + '/files/Energy_Consumption_Analysis_of_Instruction_Cache_Prefetching_Methods.pdf'
      },
      {
        venue: 'DOSSA-5',
        info: 'A. Shekar, M. Baradaran, S. Tajdari, and K. Skadron, \"HashMem: PIM-based Hashmap Accelerator," in Fifth International Workshop on Domain-Specific System Architecture (DOSSA-5), 2023',
        link: '/' + baseURL + '/files/HashMem.pdf'
      },
      {
        venue: 'NLI',
        info: 'M. Baradaran and M. Zarei, “Theory of Automata and Machine Language,” in National Library of Iran, ISBN 978-600-6927-22-0, 2012-2013.',
      },
    ];
