block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'ISCA',
        info: 'Rasool Sharifi and Ashish Venkat,\"CHEx86: Context-Sensitive Enforcement of Memory Safety via Microcode-Enabled Capabilities," in Proceedings of the 47th ACM/IEEE International Symposium on Computer Architecture (ISCA), June, 2020.',
        link: '/' + baseURL + '/files/2020CHEx86.pdf'
      },
      {
        venue: 'ETS',
        info: 'Rasool Sharifi and Zain Navabi, \"Online Profiling for Cluster-Specific Variable Rate Refreshing in High-Density DRAM Systems," in IEEE European Test Symposium (ETS), May, 2017.',
        link: '/' + baseURL + '/files/2017OnlineProfiling.pdf'
      },
    ];
