block postsInfo
  // Posts info container
  -
    var posts = [
      {
        title: 'Implementation of a Super-Optimizer in GEM5 Microarchtecture Simulator',
        path: 'gem5_super_optimizer',
        date: 'Jan. 2021',
        tldr: "How to implement a super-optimizer in GEM5 microarchitecture simulator (in progress)."
      },
    
    ];
