block projectsInfo
  -
    var projects = [
      {
        name: 'Unidentified Genome Partial Matching',
        img: '',
        link: 'https://github.com/Morteza1814/GenomePartialMatching',
        source: '',
        platform: [],
        description: 'Design and Implementation of a Genome Partial Matcher to Find Similarities Between the Unidentified Genomes and Metagenomics Databases',
        lib: ['C', 'C++', 'Python'],
        tags: ['Bioinformatics', 'Genomics', 'Accelerator']
      },
      {
        name: 'HashMem',
        img: '',
        link: 'https://github.com/Morteza1814/HashMemCPU',
        source: '',
        platform: [],
        description: 'Implementing a PIM-based Hashmap Accelerator',
        lib: ['C', 'C++'],
        tags: ['Processin in Memory', 'HashMap']
      },
      {
        name: 'Banking Integrated Card Personalization System (IPS)',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Implementation of a card personalization system capable of personalizing and printing debit, credit, gift, and other types of bank cards',
        lib: ['C', 'C++', 'Java'],
        tags: ['Banking Solutions', 'Card Personalization']
      },
      {
        name: 'Self-Service Ticketing System of Tehran Metro and Bus Rapid Transit Routes',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Developing Firmware, Memory management, GPRS communication, and file management of the POS Terminals for Tehran’s Subway Ticketing System',
        lib: ['C', 'C++'],
        tags: ['Firmware', 'Automatic Fare Collection','Memory management']
      },
      {
        name: 'Automatic Train Control Systems for Metro and Urban Railway',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Developing and Analyzing Metro & Urban Railway Signalling and Telecommunication Systems (i.e., ATC, ATP, etc)',
        lib: ['C++'],
        tags: ['Automatic Train Control', 'Simulator','ATP']
      },
      {
        name: 'National ePassport Operating System',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Design and Implementation of Smart Card Native OS for ePassport (Electronic Passport Smart Card)',
        lib: ['C++'],
        tags: ['Firmware', 'Operating System','Embedded Design']
      },
    ]