block projectsInfo
  -
    var projects = [
      {
        name: 'Implementation of CHEx86, A Capabilities-Based Architecture for Securing Legacy Binaries agianst Memory Safety Exploits in GEM5',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: '',
        lib: ['C', 'C++', 'Python'],
        tags: ['GEM5', 'Microarchitecture', 'Simulator']
      },
      {
        name: 'Implementation of a Speculation-Driven Dynamic Binary Optimizer in GEM5',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: '',
        lib: ['C', 'C++', 'Python'],
        tags: ['GEM5', 'Microarchitecture', 'Simulator']
      },
      {
        name: 'Implementation of a Toy Compiler in Java',
        img: '',
        link: '',
        source: '',
        platform: [],
        description: 'Compiler Course',
        lib: ['Java', 'JFlex', 'CUP'],
        tags: ['Compiler']
      },
    ]