extends ../../_templates/_layouts/blog-post.pug


block postData
  - postTitle = 'Implementation of a Super-Optimizer in GEM5 Microarchtecture Simulator'
  - postDate = 'Jan. 2021'


block post
  p In progress...

  p &#8212; Rasool
